.btn {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}

.btn.primary {
    line-height: 50px;
    border-radius: 7px;
    background: $color-primary;
    color: #fff;
    padding: 0 50px;
    font-weight: 500;
    text-transform: uppercase;

    &.short {
        padding: 0 20px;
    }
}