#primaryFooter {
    border-top: 4px solid $color-primary;
    background-color: $color-secondary;
    color: #fff;
    padding: 25px 0;
    font-family: $font-roboto;


    .copyright {
        float: right;
    }

    nav {
        float: left;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 10px;
        }

        a {
            display: block;
            padding: 5px 15px;
            border-radius: 5px;

            &:hover {
                background: $color-primary;
            }
        }

    }
}

@include respond-from(small) {
    #primaryFooter {
        text-align: center;

        nav {
            width: 100%;
            float: none;

            li {
                display: block;
            }
        }

        .copyright {
            float: none;
            padding: 15px 0;
        }
    }
}