.sidebar {
    $offset : 30px;
    width: 28%;
    float: left;
    background: #414141;
    padding-right: 15px;
    box-shadow: -#{$offset} 10px 0 0 $color-primary;



    h1 {
        font-size: 50px;
        text-transform: uppercase;
        background: $color-primary;
        color: #fff;
        padding: 25px;
        line-height: 1;
        position: relative;
        margin: -15px 0 40px -#{$offset};

        &:after {
            content: '';
            background: #fff;
            height: 10px;
            width: $offset + 1;
            position: absolute;
            bottom: -10px;
            left: -1px;
        }
    }

    nav {
        color: #fff;
        font-size: 20px;
        padding-right: 30px;

        li {
            margin-bottom: 30px;
            padding-bottom: 5px;
        }

        a {
            border-bottom: 1px solid #fff;
            padding: 5px 5px 5px 80px;
            display: block;

            &:hover {
                border-color: $color-primary;
            }
        }

    }
}


@include respond-from(medium) {
    .sidebar {
        width: 34%;
    }
}

@include respond-from(small) {
    .sidebar{
        width: 100%;
        clear: both;
        float: none;
    }
}
