<!doctype html>
<html class="no-js" lang="en">

    <head>

        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>txt2billboard</title>
        <meta name="author" content="Miranium" />
        <meta name="description" content="txt2billboard website" />

        <meta name="copyright" content="Miranium" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="shortcut icon" href="favicon.ico" />-->

        <link rel="stylesheet" href="{{assets_css}}main.css" />

    </head>

    <body class="contentPage">

    {% include 'common/header.inc.html' %}

    <div id="content" class="inner">
        <aside class="sidebar">
            <h1>Features</h1>
            <nav>
                <ul>
                    <li><a href="#">Billboard Locations</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Common Questions</a></li>
                </ul>
            </nav>
        </aside>

        <div class="mainArea">
            <article>
                <h1>TERMS OF SERVICE</h1>
                <h3>Using the txt2billboard broadcast system</h3>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel </p>
            </article>
        </div>

    </div>

{% include 'common/footer.inc.html' %}