<!doctype html>
<html class="no-js" lang="en">

    <head>

        <meta charset="utf-8">

        <!-- Always force latest IE rendering engine (even in intranet) -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{{title}}</title>
        <meta name="author" content="Miranium" />
        <meta name="description" content="{{description}}" />

        <meta name="copyright" content="Miranium" />

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--<link rel="shortcut icon" href="favicon.ico" />-->

        <link rel="stylesheet" href="{{assets_css}}main.css" />

    </head>

    <body class="messagePage">

        {% include 'common/header.inc.html' %}

        <div id="content" class="inner short">
            <div id="motto">
                <h1>{{heading}}</h1>
                <h2>{{intro}}</h2>
            </div>
            <form action="#" id="sendMessage" method="POST">
                <fieldset>
                    <input type="text" data-rule-minlength="3" class="required" placeholder="Name" name="name">
                    <input type="text" class="required" placeholder="Phone" name="phone">
                    <input type="text" class="required email" placeholder="Email" name="email">
                </fieldset>
                <fieldset>
                    <input type="text" class="required" placeholder="Location" name="location">
                    <textarea class="required" name="message" data-rule-minlength="10" data-rule-maxlength="200" rows="6" placeholder="Message"></textarea>
                </fieldset>
                <button type="submit" class="btn primary alignright">Send</button>
                <small>After you submit your request we will respond promptly to confirm the location and fees.</small>
            </form>

            <div class="formMeta">
                <div class="success">
                    <p>Your form was sent!</p>
                </div>
                <div class="fail">
                    <p>There was an error. Please try again later!</p>
                </div>
            </div>


        </div>

{% include 'common/footer.inc.html' %}