.contentPage #primaryHeader {
    background-image: url(../img/header_content.jpg);
}
#content {
    padding-top: 90px;
}

.mainArea {
    float: right;
    width: 67%;
    color: #414141;

    article {
        font-size: 18px;
        line-height: 24px;

        a {
            text-decoration: underline;
        }

        h2, h3, h4, h5, h6 {
            margin-bottom: 35px;
        }

        > * {
            margin-bottom: 25px;
        }
    }
}

@include respond-from(medium) {
    .mainArea {
        width: 63%;
    }
}


@include respond-from(small) {
    .mainArea {
        width: 100%;
        color: #fff;
        padding: 0 5%;
    }

}