.homePage {

    background: url('../img/header_home.jpg') no-repeat center center fixed;
    background-size: cover;

    #primaryHeader {
        border-bottom: 0;
    }

    #content {
        padding-bottom: 50px;
    }

    #motto {
        display: inline-block;
        vertical-align: middle;
        width: 47%;
        margin-right: 20%;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

        + img {
            width: 33%;
            margin-left: -6px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}

@include respond-from(small) {
    .homePage {
        #content {
            padding-top: 0;
        }

        #motto {
            width: 80%;
            margin: 0 auto;
            display: block;

            .btn {
                display: none;
            }

            + img {
                float: left;
                width: 55%;
            }
        }

        .mobileContact {
            width: 45%;
            float: right;
            text-align: center;
            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

            .btn {
                margin-top: 15px;
            }
        }
    }
}