.messagePage {
    @include gradient( #3c4e72, $color-secondary );
    color: #fff;
    #primaryHeader {
        background-image: url('../img/header_contact.jpg');
    }
}

#sendMessage {
    margin: 60px 0;
    overflow: hidden;

    fieldset > * {
        width: 100%;
        margin-bottom: 25px;
    }

    label.error {
        margin-top: -20px;
        text-indent: 5px;
    }

    button {
        margin-right: 15px;
    }

    + .formMeta {
        margin: 60px 0;
    }

    + .formMeta > * {
        border-radius: 3px;
        display: none;
        text-align: center;
        padding: 7px;
        color: $color-secondary;

        &.success {
            background-color: #DFF2BF;
        }

        &.fail {
            background-color: #FFBABA;
        }
    }
}